*,*::after, *::before{
    margin : 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body{
    font-size:1,6 rem ;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: blueviolet;
}

.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: #ec05e884;
}

/* .nav_brand{

} */

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav_toggler div{
    width: 3rem;
    height: 0,2rem;
    margin:0.4rem;
    background: darkgray;
}